/ = stylesheet_link_tag 'croppie.css'
/ = javascript_include_tag 'croppie'
.container
  .columns.is-centered
    .column.is-5-tablet.is-4-desktop.is-4-widescreen
      .box
        - if resource.errors.messages.present?
          h1 "#{ resource.errors.full_messages.to_sentence }"
        = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
          .form-inputs
            .form-avatar
              = user_avatar_nl(f.object)
              = f.file_field :avatar, accept: "image/png,image/gif,image/jpeg"
            hr
            = f.input :current_password, hint: "We need your current password to confirm your changes", required: true, input_html: { autocomplete: "current-password" }
            = f.input :email, required: true, autofocus: true
            - if devise_mapping.confirmable? && resource.pending_reconfirmation?
              p Currently waiting confirmation for:
                = resource.unconfirmed_email
            = f.input :password, hint: "leave it blank if you don't want to change it", required: false, input_html: { autocomplete: "new-password" }
            = f.input :password_confirmation, required: false, input_html: { autocomplete: "new-password" }
          .form-actions
            = f.button :submit, "Update"
        hr
        h1 Unhappy?
        = link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete
        br
        = link_to "Back", :back

/ javascript:
  var boot_croppie = () => {
    let upload_image = document.querySelector('img');
      if (upload_image) {
        let croppie = new Croppie(upload_image,
          {
            viewport: { width: 100, height: 100 },
              boundary: { width: 300, height: 300 },
              showZoomer: false,
              enableOrientation: false
            }
          );
          img_src = upload_image.getAttribute('src');
          console.log(img_src);
          if (img_src)
            croppie.bind({
              url: img_src
            });
      }
  }
  let loaded = () => console.log('loaded');
  let upload_image = document.querySelector('img');
  upload_image.onload = boot_croppie

