- if !@tags.nil?
  h1.subtitle Search by tag
  .tags.has-addons
    - @tags.each do |tag|
      - cache tag do
          div style='margin-right: 1rem;'
            a.tag.is-link href=posts_tags_path(tag: tag.permalink) #{tag.name}
            - current_user.present? && current_user.admin?
              span.tag.counter-tag #{tag.posts.count}
- elsif @tag.present?
  h1.subtitle Showing posts by:
  span.tag.is-primary #{@tag.name}
