/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
$paper: #fff1e5;
$paper-2: #e6d9ce;
$claret: #990f3d;
$oxford: #0f5499;
$teal: #0d7680;
$jade: #00994d;
$wasabi: #96cc28;
$candy: #ff7faa;
$crimson: #cc0000;
$link: $teal;
@import 'bulma';
@import "./actiontext.scss";
@import 'bulma-tagsinput.min';

.footer {
	background-color: $grey-dark !important;
	color: white;
}

.listing-header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.listing-footer {
	display: flex;
	justify-content: space-between;
}

.author {
	color: $oxford;
	font-weight: 600;
}

.counter-tag {
	background-color: $grey-dark !important;
	color: white !important;
}

.post-header {
	background-color: $paper-2;
}

body {
	background-color: #fff1e5 !important;
}

hr {
	background-color: $dark;
}

.img-placeholder {
	width: 128px;
	height: 128px;
	border-radius: 50%;
	background-color: gray;
}

.container-hcenters {
	display: flex;
	align-items: center;
	justify-content: center;
}

.form-avatar {
	height: 30vh;
	width: 100%;
	padding: 1rem;
	margin: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

