// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
//
// 
// .dashboard-nav {
	// background-color: $lightgray;
	// display: flex;
	// flex-direction: column;
	// justify-content: space-around;
	// top: 2in;
	// border-radius: 5pt;
	// padding: .5rem;
// 
	// box-shadow: -5px 10px 20px rgba(0,0,0,0.19), -3px 6px 6px rgba(0,0,0,0.23);
// }
// 
// .nav-dash-item {
	// width: .5in;
	// height: .5in;
	// display: flex;
	// flex-direction: column;
	// justify-content: center;
	// background-color: $gray;
	// border-radius: 5pt;
	// text-align: center;
	// vertical-align: middle;
// }
// 
// .nav-dash-item:not(:last-child) {
	// margin-bottom: .5rem;
/* } */

$tabs-border-bottom-color: gainsboro;
$tabs-border-bottom-style: solid;
$tabs-border-bottom-width: 1px;
$tabs-link-hover-color: teal;
